.top-section {
  background-color: #f3c6bd;
}
@media screen and (min-width: 1400px) {
  .top-section {
    padding-top: 39px;
  }
}

.header {
  height: 64px;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding-left: 15px;
}
@media screen and (min-width: 1400px) {
  .header {
    width: 1140px;
    height: 62px;
    margin: auto;
    background-color: #f3c6bd;
  }
}

.logo {
  display: flex;
  align-items: center;
}
.logo__image {
  width: 48px;
  height: 48px;
  margin-right: 13px;
}
@media screen and (min-width: 1400px) {
  .logo__image {
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }
}
.logo__name {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}
.logo__description {
  display: none;
}
@media screen and (min-width: 1400px) {
  .logo__description {
    display: block;
    font-size: 18px;
    line-height: 25px;
    opacity: 0.6;
  }
}

.navigation {
  display: none;
  margin-left: auto;
  margin-right: 75px;
}
@media screen and (min-width: 1400px) {
  .navigation {
    display: block;
  }
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 7px;
}
.nav-list__item {
  margin-right: 50px;
}
.nav-list__item:last-child {
  margin-right: 0;
  position: relative;
}
.nav-list__item-link {
  display: block;
  line-height: 100%;
  line-height: 25px;
  font-size: 18px;
  color: #2b292d;
  text-decoration: none;
}
.nav-list__item-link_selected {
  font-weight: 700;
}
.nav-list__item-arrow {
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png);
  display: inline-block;
  width: 8px;
  height: 5px;
  position: absolute;
  top: 50%;
  left: 71px;
}

.header-button {
  display: none;
}
@media screen and (min-width: 1400px) {
  .header-button {
    display: block;
  }
}

.header-menu-button {
  width: 58px;
  height: 100%;
  border: none;
  outline: none;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  margin-left: auto;
  background-color: transparent;
}
@media screen and (min-width: 1400px) {
  .header-menu-button {
    display: none;
  }
}
.header-menu-button__icon {
  display: inline-block;
  width: 18px;
  height: 13px;
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png);
}

.headline-left {
  padding: 0 15px 33px 15px;
}
@media screen and (min-width: 1400px) {
  .headline-left {
    position: relative;
    z-index: 1;
    padding: 0;
  }
}

.headline {
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .headline {
    width: 1140px;
    margin: auto;
    margin-top: 76px;
  }
}
.headline__title {
  margin: 0;
  margin-top: 35px;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.3125px;
}
@media screen and (min-width: 1400px) {
  .headline__title {
    width: 754px;
    height: 165px;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    margin-top: 0;
  }
}
.headline__description {
  margin-top: 24px;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 34px;
}
@media screen and (min-width: 1400px) {
  .headline__description {
    margin-top: 34px;
    width: 456px;
    height: 102px;
  }
}
.headline__banner {
  width: 100%;
  margin-bottom: 36px;
}
@media screen and (min-width: 1400px) {
  .headline__banner {
    position: absolute;
    z-index: 0;
    top: 185px;
    right: 25px;
    width: 796px;
    height: 448px;
  }
}
.headline__buttons {
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .headline__buttons {
    display: flex;
    margin-top: 58px;
    margin-bottom: 126px;
  }
}
.headline__buttons-learn-more {
  margin-top: 15px;
  margin-left: 0;
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .headline__buttons-learn-more {
    margin-top: 0;
    margin-left: 10px;
    width: 158px;
  }
}
.headline__buttons_action-button {
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin-top: auto;
}
.footer .logo {
  display: none;
}
@media screen and (min-width: 1400px) {
  .footer .logo {
    display: flex;
  }
}

.footer-navigation {
  margin: 0;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .footer-navigation {
    height: 338px;
    width: 1140px;
    margin: 0 auto;
    flex-direction: row;
  }
}

.about-company {
  margin: 26px 0 25px;
}
@media screen and (min-width: 1400px) {
  .about-company {
    margin-top: 43px;
  }
}
.about-company__description {
  display: none;
}
@media screen and (min-width: 1400px) {
  .about-company__description {
    display: block;
    width: 360px;
    line-height: 26px;
    font-size: 18px;
    color: #2b292d99;
  }
}
.about-company__downloads {
  margin-top: 31px;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1400px) {
  .about-company__downloads {
    justify-content: left;
    margin-top: 0;
  }
}
.about-company__downloads-app-store {
  margin-right: 10px;
}

.additional-navigation {
  margin: 30px 15px 0;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .additional-navigation {
    flex-direction: row;
    margin-left: auto;
    margin-right: 0;
  }
}
.additional-navigation__column {
  margin-bottom: 30px;
}
@media screen and (min-width: 1400px) {
  .additional-navigation__column {
    margin-right: 29px;
    margin-bottom: 0;
  }
}

.nav-links {
  width: 265px;
}
.nav-links__title {
  margin: 0;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
}
.nav-links__list {
  list-style-type: none;
  margin: 0;
  margin-top: 18px;
  padding: 0;
}
.nav-links__list_item {
  font-size: 18px;
  line-height: 30px;
  color: #2b292d99;
}

.footer-line {
  margin-top: 40px;
  background-color: #2b292d;
  height: 1px;
  opacity: 0.1;
}
@media screen and (min-width: 1400px) {
  .footer-line {
    margin-top: 0;
  }
}

.footer-links {
  display: flex;
  margin-top: 30px;
  margin-left: 15px;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .footer-links {
    flex-direction: row;
    width: 1140px;
    margin: auto;
    align-items: center;
    height: 50px;
  }
}

.footer-terms {
  font-size: 14px;
  line-height: 22px;
}
.footer-terms__item {
  text-decoration: none;
  color: #2b292d99;
  margin-right: 22px;
}

.social-links {
  margin-top: 31px;
  margin-bottom: 23px;
}
@media screen and (min-width: 1400px) {
  .social-links {
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
}
.social-links__item {
  margin-right: 20px;
  text-decoration: none;
}
@media screen and (min-width: 1400px) {
  .social-links__item {
    margin-left: 20px;
  }
}

.logo-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1400px) {
  .logo-vertical {
    display: none;
  }
}
.logo-vertical__image {
  width: 60px;
  height: 60px;
}
.logo-vertical__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  margin-top: 20px;
}
.logo-vertical__description {
  font-size: 18px;
  color: #2b292d99;
}

.about {
  width: 100%;
  padding: 46px 15px;
  background-color: #f4f5f7;
}
@media screen and (min-width: 1400px) {
  .about {
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 77px 130px 76px;
  }
}

.article {
  font-size: 22px;
  line-height: 32px;
}
@media screen and (min-width: 1400px) {
  .article {
    width: 555px;
  }
}
.article:last-child {
  margin-top: 20px;
}
@media screen and (min-width: 1400px) {
  .article:last-child {
    margin-top: 0;
  }
}
.article__title {
  font-weight: bold;
  margin: 0;
}
.article__description {
  margin-bottom: 0;
  margin-top: 6px;
}

.customers {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .customers {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 1140px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 106px;
  }
}
.customers__column {
  display: flex;
}
@media screen and (min-width: 1400px) {
  .customers__column {
    flex: 1;
    justify-content: space-around;
  }
}
.customers__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 107px;
  height: 94px;
  border-bottom: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  flex: 1;
}
.customers__item:last-child {
  border-right: 0;
}
@media screen and (min-width: 1400px) {
  .customers__item {
    border: none;
  }
}
.customers__logo {
  filter: brightness(0);
  max-width: 80%;
}

.tips {
  margin-top: 8px;
}
@media screen and (min-width: 1400px) {
  .tips {
    display: none;
  }
}

.tip {
  padding: 40px 15px 0 15px;
  border-bottom: 1px solid #e3e3e3;
}
.tip__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #009b4d;
}
.tip__title {
  margin: 0;
  margin-top: 17px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
}
.tip__description {
  font-size: 24px;
  line-height: 34px;
  margin: 0;
  margin-top: 13px;
}
.tip__decoration {
  margin: 0;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tip__image {
  margin-top: 29px;
  max-width: 100%;
}
.tip__image-caption {
  margin-top: 19px;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #2b292d99;
}

.features-wrapper {
  display: none;
}
@media screen and (min-width: 1400px) {
  .features-wrapper {
    display: flex;
    position: relative;
    margin-bottom: 110px;
  }
}

.features__img-left {
  position: absolute;
  top: 258px;
  height: 166px;
}

.features {
  width: 1140px;
  margin: auto;
  display: flex;
}
.features__left {
  width: 459px;
}
.features__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #009b4d;
  margin: 0;
}
.features__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.5px;
  margin: 0;
  margin-top: 24px;
}
.features__description {
  margin: 0;
  margin-top: 30px;
  font-size: 24px;
  line-height: 34px;
}
.features__new-customers {
  display: flex;
  align-items: center;
  margin-top: 42px;
}
.features__new-customers-title {
  margin: 0;
  margin-left: 15px;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #3142c6;
}
.features__text {
  margin: auto;
  margin-top: 8px;
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 20px;
  border-bottom: 3px solid #3142c6;
}
.features__advantages {
  display: flex;
  align-items: center;
  margin-top: 20px;
  border-bottom: 1px solid #2b292d26;
  padding-bottom: 22px;
}
.features__advantages-text {
  margin-left: 15px;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
}

.features__img-right {
  position: absolute;
  right: 0;
  top: 5px;
}

.order {
  padding: 50px 15px;
  background-color: #f4f5f7;
}
@media screen and (min-width: 1400px) {
  .order {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 73px 0 72px 0;
  }
}
@media screen and (min-width: 1400px) {
  .order__details {
    max-width: 555px;
  }
}
.order__illustration {
  max-width: 200px;
  display: block;
  margin: auto;
}
@media screen and (min-width: 1400px) {
  .order__illustration {
    max-width: 269px;
    margin: 0;
    margin-right: 121px;
  }
}
.order__title {
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.25px;
  margin: 0;
  margin-top: 40px;
}
.order__text {
  font-size: 22px;
  line-height: 32px;
  margin: 0;
  margin-top: 18px;
}
@media screen and (min-width: 1400px) {
  .order__form {
    display: flex;
    margin-top: 26px;
  }
}
.order__email {
  margin-top: 40px;
  background-color: #ffffff;
  border: 1px solid #2b292d33;
  border-radius: 2px;
  height: 48px;
  width: 100%;
  font-size: 18px;
  line-height: 13px;
  text-align: center;
}
@media screen and (min-width: 1400px) {
  .order__email {
    margin-top: 0;
    margin-right: 10px;
    flex: 1;
  }
}
.order__email::placeholder {
  color: #2b292d99;
}
.order__button {
  margin-top: 12px;
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .order__button {
    margin-top: 0;
    width: 160px;
    flex-shrink: 0;
  }
}
.order__terms {
  font-size: 14px;
  line-height: 22px;
  color: #2b292d99;
}
.order__terms-link {
  color: #3142c6;
}

.audience {
  background-color: #00a1c612;
  padding: 50px 15px;
}
@media screen and (min-width: 1400px) {
  .audience {
    padding: 108px 0 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.audience__subtitle {
  display: block;
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  text-align: center;
}
.audience__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.357143px;
  margin: 0;
  margin-top: 17px;
}
@media screen and (min-width: 1400px) {
  .audience__title {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    margin: 24px auto 0;
    width: 555px;
  }
}
.audience__description {
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  margin: 0;
  margin-top: 18px;
}
@media screen and (min-width: 1400px) {
  .audience__description {
    margin-top: 30px;
    width: 555px;
  }
}
@media screen and (min-width: 1400px) {
  .audience__buttons {
    display: flex;
    margin-top: 34px;
  }
}
.audience__button {
  display: block;
  width: 100%;
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .audience__button {
    width: 160px;
    margin-top: 0;
    margin-right: 10px;
  }
}
.audience__button-learn-more {
  margin-top: 12px;
  display: block;
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .audience__button-learn-more {
    margin-top: 0;
    width: 158px;
  }
}
.audience .learn-more {
  color: #000000;
}
.audience__items {
  margin: 0;
  margin-top: 40px;
}
@media screen and (min-width: 1400px) {
  .audience__items {
    display: flex;
    justify-content: space-between;
    margin-top: 111px;
    width: 1139px;
  }
}
.audience__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  margin-top: 15px;
  border-radius: 8px;
  background-color: #ffffff;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.00001) 100%);
  background-blend-mode: overlay, normal;
  transition: all 0.5s ease;
  cursor: pointer;
}
@media screen and (min-width: 1400px) {
  .audience__item {
    width: 262px;
    margin-top: 0;
  }
}
@media screen and (min-width: 1400px) {
  .audience__item:last-child {
    margin-right: 0;
  }
}
.audience__item:hover {
  box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15), 0px 11px 55px rgba(0, 0, 0, 0.07);
  background-color: #3141c5;
}
.audience__item:hover .audiences__caption {
  color: #ffffff;
}
.audience__image {
  max-width: 100%;
  margin-top: 22px;
}
.audience__caption {
  margin-top: 22px;
  margin-bottom: 33px;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Work Sans", sans-serif;
  color: #2b292d;
}

.page {
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .page {
    position: relative;
    max-width: 1400px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

.action-button {
  height: 48px;
  background-color: #3040c4;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  outline: none;
}
@media screen and (min-width: 1400px) {
  .action-button {
    width: 160px;
  }
}

.learn-more {
  height: 48px;
  background-color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  color: #3040c4;
  border: none;
  border-radius: 2px;
  outline: none;
}

@media screen and (min-width: 1400px) {
  .desctop-hidden {
    display: none;
  }
}

@media screen and (max-width: 1399px) {
  .mobile-hidden {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
