.footer {
  display: flex;
  flex-direction: column;
  background-color: $background-color-white;
  margin-top: auto;

  .logo {
    display: none;

    @include more-400 {
      display: flex;
    }
  }
}

.footer-navigation {
  margin: 0;
  display: flex;
  flex-direction: column;

  @include more-400 {
    height: 338px;
    width: 1140px;
    margin: 0 auto;
    flex-direction: row;
  }
}

.about-company {
  margin: 26px 0 25px;

  @include more-400 {
    margin-top: 43px;
  }

  &__description {
    display: none;

    @include more-400 {
      display: block;
      width: 360px;
      line-height: 26px;
      font-size: 18px;
      color: $text-color-light-grey;
    }
  }

  &__downloads {
    margin-top: 31px;
    display: flex;
    justify-content: center;

    @include more-400 {
      justify-content: left;
      margin-top: 0;
    }
  }

  &__downloads-app-store {
    margin-right: 10px;
  }
}

.additional-navigation {
  margin: 30px 15px 0;
  display: flex;
  flex-direction: column;

  @include more-400 {
    flex-direction: row;
    margin-left: auto;
    margin-right: 0;
  }

  &__column {
    margin-bottom: 30px;

    @include more-400 {
      margin-right: 29px;
      margin-bottom: 0;
    }
  }
}

.nav-links {
  width: 265px;

  &__title {
    margin: 0;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
  }

  &__list {
    list-style-type: none;
    margin: 0;
    margin-top: 18px;
    padding: 0;

    &_item {
      font-size: 18px;
      line-height: 30px;
      color: $text-color-light-grey;
    }
  }
}

.footer-line {
  margin-top: 40px;
  background-color: $text-color-primary;
  height: 1px;
  opacity: 0.1;

  @include more-400 {
    margin-top: 0;
  }
}

.footer-links {
  display: flex;
  margin-top: 30px;
  margin-left: 15px;
  flex-direction: column;

  @include more-400 {
    flex-direction: row;
    width: 1140px;
    margin: auto;
    align-items: center;
    height: 50px;
  }
}

.footer-terms {
  font-size: 14px;
  line-height: 22px;

  &__item {
    text-decoration: none;
    color: $text-color-light-grey;
    margin-right: 22px;
  }
}

.social-links {
  margin-top: 31px;
  margin-bottom: 23px;

  @include more-400 {
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
  }

  &__item {
    margin-right: 20px;
    text-decoration: none;

    @include more-400 {
      margin-left: 20px;
    }
  }
}

.logo-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include more-400 {
    display: none;
  }

  &__image {
    width: 60px;
    height: 60px;
  }

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    margin-top: 20px;
  }

  &__description {
    font-size: 18px;
    color: $text-color-light-grey;
  }
}
