.top-section {
  background-color: #f3c6bd;
  padding-top: 39px;
}

.header {
  width: 1140px;
  height: 62px;
  margin: auto;
  display: flex;
}

.logo {
  display: flex;
  align-items: center;

  &__image {
    width: 60px;
    height: 60px;
    margin-right: 8px;
  }

  &__name {
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
  }

  &__description {
    font-size: 18px;
    line-height: 25px;
    color: #2b292d;
    opacity: 0.6;
  }
}

.navigation {
  margin-left: auto;
  margin-right: 75px;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 7px;

  &__item {
    margin-right: 50px;

    &:last-child {
      margin-right: 0;
      position: relative;
    }

    &_link {
      display: block;
      line-height: 100%;
      line-height: 25px;
      font-size: 18px;
      color: #2b292d;
      text-decoration: none;

      &-selected {
        font-weight: 700;
      }
    }

    &-arrow {
      background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png);
      display: inline-block;
      width: 8px;
      height: 5px;
      position: absolute;
      top: 50%;
      left: 71px;
    }
  }
}
