@import 'variables';
@import 'header';
@import 'headline';
@import 'footer';
@import 'about';
@import 'customers';
@import 'tips';
@import 'features';

* {
  box-sizing: border-box;
}

html {
  font-family: 'Work Sans', sans-serif;
  color: $text-color-primary;
}

.page {
  width: 100%;
  overflow-x: hidden;

  @include more-400 {
    position: relative;
    width: 1400px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

.action-button {
  height: 48px;
  background-color: #3040c4;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  border: none;
  border-radius: 2px;
  outline: none;

  @include more-400 {
    width: 160px;
  }
}
