@import 'variables';
@import 'header';
@import 'footer';

* {
  box-sizing: border-box;
}

html {
  font-family: 'Work Sans', sans-serif;
}

.page {
  width: 1400px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
