@import 'variables';
@import 'breakpoints';
@import 'header';
@import 'headline';
@import 'footer';
@import 'about';
@import 'customers';
@import 'tips';
@import 'features';
@import 'order';
@import 'audiences';

* {
  box-sizing: border-box;
}

html {
  font-family: 'Work Sans', sans-serif;
  color: $text-color-primary;
}

.page {
  width: 100%;

  @include more-400 {
    position: relative;
    max-width: 1400px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

.action-button {
  height: 48px;
  background-color: $background-color-blue-button;
  font-size: 18px;
  font-weight: 700;
  color: $text-color-white;
  border: none;
  border-radius: 2px;
  outline: none;

  @include more-400 {
    width: 160px;
  }
}

.learn-more {
  height: 48px;
  background-color: $background-color-white;
  font-size: 18px;
  font-weight: 700;
  color: $text-color-blue-button;
  border: none;
  border-radius: 2px;
  outline: none;
}

.desctop-hidden {
  @include more-400 {
    display: none;
  }
}

.mobile-hidden {
  @include less-400 {
    display: none;
  }
}
