$text-color-primary: #2b292d;

$breakpoint: 400px;
$breakpoint-less: 399px;

@mixin more-400 {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

@mixin less-400 {
  @media screen and (max-width: $breakpoint-less) {
    @content;
  }
}
