$text-color-primary: #2b292d;
$text-color-green: #009b4d;
$text-color-light-grey: #2b292d99;
$text-color-blue: #3142c6;
$text-color-blue-button: #3040c4;
$text-color-white: #ffffff;
$text-color-black: #000000;

$background-color-white: #ffffff;
$background-color-grey: #f4f5f7;
$background-color-blue: #3141c5;
$background-color-blue-button: #3040c4;
$background-color-light-blue: #00a1c612;
$background-color-orange: #f3c6bd;

$border-color-light-grey: #e3e3e3;
$border-color: #2b292d33;
$border-color-grey: #2b292d26;
